<ul class="list-group">
    <li class="list-group-item" ng-repeat="todoItem in $ctrl.todoItems">
        <span class="label" ng-class="todoItem.completed ? 'label-success' : 'label-default'"><i class="glyphicon" ng-class="todoItem.completed ? 'glyphicon-ok' : 'glyphicon-remove'"></i></span>
        <span>{{ todoItem.title }}</span>
        <span class="pull-right"><a class="btn btn-danger btn-xs" ng-click="$ctrl.remove(todoItem)" role="button"><i class="glyphicon glyphicon-remove"></i> Delete</a></span>
    </li>
</ul>
